
<!DOCTYPE html>
 <html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
  	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
  	<meta name="author" content="FREEHTML5.CO" />

	<meta propert

<!DOCTYPE html>
<html class="no-js">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
      <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
      <meta name="author" content="FREEHTML5.CO" />
      <meta property="og:title" content=""/>
      <meta property="og:image" content=""/>
      <meta property="og:url" content=""/>
      <meta property="og:site_name" content=""/>
      <meta property="og:description" content=""/>
      <meta name="twitter:title" content="" />
      <meta name="twitter:image" content="" />
      <meta name="twitter:url" content="" />
      <meta name="twitter:card" content="" />
      <link rel="shortcut icon" href="favicon.ico">
      <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/themify-icons.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/bootstrap.css">
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="css/magnific-popup.css">
      <link rel="stylesheet" href="css/easy-responsive-tabs.css">
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body class="gototop">
      <aside role="complementary" id="fh5co-hero" style="background-image: url(images/hero_bg_2.jpg);">
         <div class="fh5co-bg-overlay"></div>
         <div class="fh5co-hero-text-wrap">
            <div>
               <a href="/users/sign_in" class="btn btn-primary fh5co-hero-btn">Login</a>
               <a href="/about" class="btn btn-outline fh5co-hero-btn">About</a>
               <a href="/portfolio" class="btn btn-outline fh5co-hero-btn">Portfolio</a>
               <a href="/element" class="btn btn-outline fh5co-hero-btn">Element</a>
               <a href="/contact" class="btn btn-outline fh5co-hero-btn">contact Us</a>
            </div>
            <div class="fh5co-hero-text">
               <h1>Innovate &amp; Inspire</h1>
            </div>
         </div>
      </aside>
      <main role="main">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <p>Smart Data Compression is a compressed GIS dataset format developed by ESRI. It stores all types of feature data and attribute information together as a core data structure. The SDC format is used in ESRI products such as ArcGIS StreetMap, ArcIMS Route Server, RouteMAP IMS, ArcGIS Business Analyst, and the ArcMobile SDK.
                     Compression ratios range from 8x to 20x depending on the data source and structure. SDC data is optimized for rapid map display, accurate routing, and high-performance geocoding.
                     Smart Data Compression is a proprietary format. The FAQ for ESRI's RouteServer IMS notes that additional datasets for that application must be prepared by an ESRI subsidiary at additional cost. The SDC technology was developed by Software Technologies, ESRI partner in Russia. Tele Atlas and NAVTEQ provide North American commercial street datasets in SDC format. This data was prepared using the Data Development Kit Pro (DDK Pro), which ESRI licenses to select vendors.
                     The term Smart Data and idea was coined and created by Dr. James A Rodgers professor at Indiana University of Pennsylvania and James A George, Circa "Smart Data Enterprise Performance Optimization Strategy"
                  </p>
               </div>
               <div class="col-md-6 col-md-push-1">
                  <figure class="fh5co-with-caption">
                     <img src="images/img_1.jpg" alt="Image" class="img-responsive">
                     <figcaption>This is an image caption.</figcaption>
                  </figure>
               </div>
            </div>
         </div>
         <div id="js-fh5co-slider">
            <div class="container">
               <div class="fh5co-section-heading">
                  <h2 class="text-muted">Our Cool Office</h2>
                  <h3 class="text-center">Visit us and have a cup of coffee</h3>
                  <a href="/contact" class="btn btn-primary btn-lg">Go Then !</a>
               </div>
            </div>
         </div>
      </main>
      <footer role="contentinfo">
         <div class="container">
            <div class="row">
               <div class="col-md-3">
                  <h2 class="fh5co-footer-title">About</h2>
                  <p> SmartData Enterprises </p>
               </div>
               <div class="col-md-5">
                  <h2 class="fh5co-footer-title">Offices</h2>
                  <div class="row">
                     <div class="col-md-6">
                        <h3 class="h4">California</h3>
                        <address>2926 Bicetown Road <br>California, NY 10016</address>
                     </div>
                     <div class="col-md-6">
                        <h3 class="h4">India</h3>
                        <address>Mohali,Phase 7<br> Punjab ,134116</address>
                     </div>
                  </div>
               </div>
               <div class="col-md-2">
                  <h2 class="fh5co-footer-title">Links</h2>
                  <ul class="fh5co-footer-links">
                     <li><a href="www.smartdatainc.com"></a></li>
                     <li><a href="https://www.smashingmagazine.com/">Smashingmagazine</a></li>
                     <li><a href="https://www.smashingmagazine.com/">A List Apart</a></li>
                     <li><a href="https://creativemarket.com/">Creative Market</a></li>
                  </ul>
               </div>
               <div class="col-md-2">
                  <h2 class="fh5co-footer-title">Connect</h2>
                  <ul class="fh5co-footer-links">
                     <li><a href="https://twitter.com/" class="fh5co-link"><i class="fa fa-twitter"></i>Twitter</a></li>
                     <li><a href="https://facebook.com/" class="fh5co-link"><i class="fa fa-facebook-square"></i>Facebook</a></li>
                     <li><a href="https://github.com/" class="fh5co-link"><i class="fa fa-github"></i>Github</a></li>
                     <li><a href="https://linkedin.com/" class="fh5co-link"><i class="fa fa-linkedin-square"></i>LinkedIn</a></li>
                     <li><a href="https://plus.google.com/" class="fh5co-link"><i class="fa fa-google"></i>Google Plus</a></li>
                  </ul>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="fh5co-copyright">
                     <p class="pull-left">&copy;	smartData Enterprises 2017. All Rights Reserved. <br> contact <a href="mailto:http://www.smartdatainc.com "target="_blank">smartData.com</a>
                     <ul class="pull-right fh5co-footer-social">
                        <li><a href="https://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      uery -->
      <script src="js/jquery-1.10.2.min.js"></script>
      <script src="js/jquery.easing.1.3.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/jquery.magnific-popup.min.js"></script>
      <script src="js/easyResponsiveTabs.js"></script>
      <script src="js/fastclick.js"></script>
      <script src="js/velocity.min.js"></script>
      <script src="js/main.js"></script>
   </body>
</html>

y="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

  	<link rel="shortcut icon" href="favicon.ico">


	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Montserrat:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/themify-icons.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/bootstrap.css">

	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<link rel="stylesheet" href="css/magnific-popup.css">

	<link rel="stylesheet" href="css/easy-responsive-tabs.css">

	<link rel="stylesheet" href="css/style.css">

	</head>
</html>
