@import "bootstrap-sprockets";
@import "bootstrap";
/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 .head{
   background-color: #dff0d8;
   font-family:verdana;
   font-style: italic;
   font-variant:normal;
   color: #fffff;
 }
.head2{
  font-family:verdana;
  font-style: italic;
}
.td_size {
  width:200px;
  height:50px;
  max-width:200px;
  min-width:200px;
  max-height:50px;
  min-height:50px;
}
