@import "bootstrap-sprockets";
@import "bootstrap";
/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 .head{
   background-color: #dff0d8;
   font-family:verdana;
   font-style: italic;
   font-variant:normal;
   color: #fffff;
 }
.head2{
  font-family:verdana;
  font-style: italic;
}
.td_size {
  width:200px;
  height:50px;
  max-width:200px;
  min-width:200px;
  max-height:50px;
  min-height:50px;
}


.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.overlay {
font-weight:100;
  padding: 2rem;
  width: 33%;
  height: 33%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: block;
  color: black;
  margin:2rem;
  position: absolute;
  top: 7%;
  left: 65%;

}
.overlay1 {
font-weight:100;
  padding: 2rem;
  width: 33%;
  height: 33%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: block;
  color: black;
  margin:2rem;
  position: absolute;
  top: 15%;
  left: 65%;

}
.overlay2 {
font-weight:100;
  padding: 2rem;
  width: 33%;
  height: 33%;
  display: block;
  color: black;
  margin:2rem;
  position: absolute;
  top:40%;
  left: -3%;

}
.overlay3 {
font-weight:100;
  padding: 2rem;
  width: 33%;
  height: 33%;
  display: block;
  color: black;
  margin:2rem;
  position: absolute;
  bottom:2%;
  left: 40%;

}

.a{
  top: 90%;
  bottom: 10%;
  position: absolute;
  background: rgba(0,0,0,0.23);
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;

    }
}
fieldset {
border:3px solid #ccc;
width:96%;
padding:1em;

}

#tinymcediv{
  width: 1000px;
}
.img {

    float: right;
    top: 10%;
    border: 3px  black;
    margin: 0px 0px 15px 20px;
}
.h {

    top:30%;

    margin-right:200px;
    font-size: 150%;
}
.foot{
  margin: -4px;
  font-size: px;
  font-style: italic;

  background-color:	#dff0d8;
}
