@import "bootstrap-sprockets";
@import "bootstrap";
/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 .head{
   background-color: #dff0d8;
   font-family:verdana;
   font-style: italic;
   font-variant:normal;
   color: #fffff;
 }
.head2{
  font-family:verdana;
  font-style: italic;
}
.td_size {
  width:200px;
  height:50px;
  max-width:200px;
  min-width:200px;
  max-height:50px;
  min-height:50px;
}


.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.overlay {
font-weight:100;
  padding: 2rem;
  width: 33%;
  height: 33%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: block;
  color: black;
  margin:2rem;
  position: absolute;
  top: 7%;
  left: 65%;

}
.overlay1 {
font-weight:100;
  padding: 2rem;
  width: 33%;
  height: 33%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: block;
  color: black;
  margin:2rem;
  position: absolute;
  top: 15%;
  left: 65%;

}

.a{
  top: 90%;
  bottom: 10%;
  position: absolute;
  background: rgba(0,0,0,0.23);
}
