<footer class = "foot">
  <center><p>

smartData | A Contract Software Development Company<br>
Copyright © 1996-2017 smartData Enterprises</p>
 <p>Contact information: <a href="mailto:http://www.smartdatainc.com">
 www.smartdatainc.com</a>.</p>
 </center>
</footer>
