
<footer role="contentinfo" style="position:absolute;">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2 class="fh5co-footer-title">About</h2>
        <p> Shashank Enterprises</p>
      </div>
      <div class="col-md-5">
        <h2 class="fh5co-footer-title">Offices</h2>
        <div class="row">
          <div class="col-md-6">
          <h3 class="h4">Dublin Ireland</h3>
          <address>540 Apartment no 5 <br>North Circular Road, Dublin 10016</address>
          </div>
          <div class="col-md-6">
            <h3 class="h4">India</h3>
            <address> Chandigarh<br> Punjab ,134116</address>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <h2 class="fh5co-footer-title">Links</h2>
        <ul class="fh5co-footer-links">
          <li><a href="www.facebook.com"></a></li>
          <li><a href="https://www.smashingmagazine.com/">Smashingmagazine</a></li>
          <li><a href="https://www.smashingmagazine.com/">A List Apart</a></li>
          <li><a href="https://creativemarket.com/">Creative Market</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h2 class="fh5co-footer-title">Connect</h2>
        <ul class="fh5co-footer-links">
          <li><a href="https://twitter.com/" class="fh5co-link"><i class="fa fa-twitter"></i>Twitter</a></li>
          <li><a href="https://facebook.com/" class="fh5co-link"><i class="fa fa-facebook-square"></i>Facebook</a></li>
          <li><a href="https://github.com/" class="fh5co-link"><i class="fa fa-github"></i>Github</a></li>
          <li><a href="https://linkedin.com/" class="fh5co-link"><i class="fa fa-linkedin-square"></i>LinkedIn</a></li>
          <li><a href="https://plus.google.com/" class="fh5co-link"><i class="fa fa-google"></i>Google Plus</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="fh5co-copyright">
          <p class="pull-left">&copy;	Shashank Enterprises 2017. All Rights Reserved. <br> contact <a href="mailto:http://www.facebook.com "target="_blank">facebook.com</a>
          <ul class="pull-right fh5co-footer-social">
            <li><a href="https://facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</footer>
