<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div >

     <ul class="nav nav-tabs">
        <li role="presentation"><a href="/index1" class="btn btn-primary fh5co-hero-btn">Home</a></li>
    <li role="presentation"><a href="/assigns" class="btn btn-primary fh5co-hero-btn">Assign Projects</a></li>
      <ul class="nav navbar-right">
        <li role="presentation"><a href=" /users/sign_out" class="btn btn-primary fh5co-hero-btn" data-method="delete">Logout</a></li>

        </ul>
    </div>
  </div>
</nav>
